@use 'helpers' as *;

:root {
  --accent: #26aff0;
  --white: #fff;
  --primary: #2d3744;
  --secondary: #58687c;
  --third: #8696a9;

  --font-famaly-base: 'TT Norms', sans-serif;
  --font-famaly-accent: 'EuropeExt', sans-serif;

  --transition-duration: 0.2s;

  --background-gradient: linear-gradient(180deg, #a8e2ff 0%, #0095db 100%);
}
