@use '@/app/styles/helpers' as *;

.camera {
  .title {
    position: absolute;
    top: 300px;
    text-align: center;
  }

  .frame {
    @include abs-x();
    top: 1081px;
  }

  .timer {
    @include abs-x();
    position: absolute;
    bottom: 232px;
  }
}
